[submodule "data_processing"]
	path = data_processing
	url = https://github.com/Han-Linnn/data_processing.git
[submodule "visualization"]
	path = visualization
	url = https://github.com/Han-Linnn/visualization.git
[submodule "File_export"]
	path = File_export
	url = https://github.com/Han-Linnn/File_export.git
